[2015-09-29 01:57] vinodsantharam opened #2 "Nuget package is not up to date"
Hi,

The source code of the Store contains the operation "StartWith" in the construction of the observable.
But after decompiling the source code of the nuget package, it seems that the package is not up to date (StartWith operation is missing).

Vinod

[2015-09-29 03:18] GuillaumeSalles commented on #2
Hi Vinod,

Nice catch ! I forgot to push the last version to nuget...
The version 0.2.0 will push the initial state to observers.

Thank you for your interest in Redux.NET !  :+1:

[2015-09-29 03:18] #2 closed, assigned to nobody

[2015-09-29 03:19] wbuchwalter commented on #2
Je vais vous poser....

[2015-11-04 05:26] GuillaumeSalles opened #13 "Example TodoMvc - Unit testing"

[2015-11-04 05:27] GuillaumeSalles opened #14 "Travis CI - Build examples and run tests"

[2015-11-20 04:29] GuillaumeSalles commented on #14
Tests are now run by Appveyor : https://ci.appveyor.com/project/GuillaumeSalles/redux-net/build/tests

Xamarin business license is needed to build android and ios sample.

[2015-11-20 04:29] #14 closed, assigned to nobody

[2015-11-29 20:07] theor opened #23 "F# support/Doc"
Hi,

I did a quick test, porting the counter example to F# : https://gist.github.com/theor/0f3cbae332da0a6cdf47

Feel free to reproduce it in the lib doc/sample repo if you want.

There's some boiler plate code at the beginning which could be in its own package, any plan for f# specific support ?

Thanks

[2015-11-29 20:28] theor opened #24 "Dev tools seem restricted to universal apps"
Seems there's no way to use them with WPF.

[2015-11-30 20:35] GuillaumeSalles commented on #24
Hello Theor,

Exact, it's only available for universal right now.

I started a pull request to make devtools available for WPF. (https://github.com/GuillaumeSalles/redux.NET/pull/25). I need to fix a nuget issue first, but it should be released in the 0.3.0 package today or tomorrow.

[2015-12-01 15:20] theor commented on #24
Excellent ! thank you.

[2015-12-03 05:17] GuillaumeSalles commented on #24
Theor,

I updated the Redux.NET and Redux.NET.Devtools package to 0.3.0. The dev tools contains a TimeMachine WPF usercontrol. It work pretty much like the DevFrame. I didn't have any time to spend on styling, so maybe your will find it ugly... The devtools 0.4.0 will support custom styling.

Feel free to ask me anything about the new release if you have some trouble with it ! I'll update the READ

[2015-12-03 05:17] #24 closed, assigned to nobody

[2015-12-03 05:44] GuillaumeSalles commented on #23
Hi Theor,

Sorry for delay, busy week...

Your gist looks nice ! F# is a natural fit for a Redux architecture so it would be awesome to support it! But honestly, I don't have any real experience with F# so I don't think I am qualified to support it in the short term. Of course, contributions are welcome ! Feel free to make other gist or PR. I will add a link to your gist to the documentation later

[2015-12-30 10:27] elie222 opened #29 "Some questions"
Hi, great project. I have a few questions.

When the application state gets big, does a single change in the application cause all GUI to rerender? If so, isn't that a bit of a waste? And if not, how does the app know which specific parts to update?

Also, with lists of items, if we have an array of items and we add an item to the array, would a list box showing those items have to completely rere

[2016-01-02 00:39] GuillaumeSalles commented on #29
Hi Elie,

You made some excellent points !

It's important to understand that XAML does not behave like React Virtual DOM. For example, a Listbox is completely re-rendered each time we set the ItemsSource, even if we use the same collection. It's totally understandable. The Listbox can't make the assumption to re-render or not only based on the reference of the ItemsSource since most of the IEnume

[2016-01-06 08:02] lanwin opened #30 "How to mutate the immutable state without a lot of mess and boilerplate"
So far so good. But how would you create and mutate the immutable state in C# without creating a lot of mess and boilerplate?

A few suggestions in the readme would be fantastic.

[2016-01-07 04:53] GuillaumeSalles commented on #30
Hello lanwin,

Unfortunately, I did not found a silver bullet to get immutability without boilerplate in C# 6. But I can tell you what we do and where we want to go with immutability at my job.
- We use https://www.nuget.org/packages/System.Collections.Immutable for collections.
- We chose to not be strictly immutable to avoid too much boilerplate. We use a constructor with a parameter of the same

[2016-01-11 13:37] theor commented on #24
Nice, thank you !

[2016-01-17 13:56] elie222 commented on #29
Thank you very much for the detailed response.

On 2 January 2016 at 02:39, Guillaume Salles notifications@github.com
wrote:

[2016-01-18 15:26] #29 closed, assigned to nobody

[2016-01-28 14:16] dadhi opened #31 "Public API is not xml-documented"
Self-explaining.

[2016-02-01 14:30] zsszatmari commented on #23
I am digging this.

[2016-02-01 15:48] zsszatmari commented on #23
...Although it does not compile for me. The following instead works, however:

[code]

[2016-02-02 08:55] zsszatmari opened #32 "Thread safety?"
Hi!

  Awesome library! Is it thread safe? It seems to me, but I am not that familiar with System.Reactive, so there might be a catch, but better safe then sorry.
  Related question: Is there some kind of guarantee on which thread will the subscribed callback be called? For UI work, the main thread would be ideal, but one might dispatch actions in a background thread...
  It would be awesome if th

[2016-03-07 02:41] GuillaumeSalles commented on #32
Hi,

Sorry for the delay, busy times for me. I thought the Rx Scan method was thread safe but apparently it's not. I made some modification and the store should now be thread safe (v0.5.0). I added a [unit test](https://github.com/GuillaumeSalles/redux.NET/commit/92a17b388bdc9a83784a1e96f2004a5f8d2c7554#diff-5ab7db7736de9318572cd6d9ec48285dR105) to ensure that behavior.

By default, the callbacks

[2016-03-07 02:56] GuillaumeSalles commented on #30
Maybe you will find the [last C# 7 design notes](https://github.com/dotnet/roslyn/issues/9330) interesting.

[2016-03-07 11:14] zsszatmari commented on #32
Wow, cool! Thanks again! Keep up the good work :+1:

[2016-05-10 13:16] zyzyxdev commented on #32
Hi, any news? Is this still in development?

[2016-05-24 12:31] Neftedollar opened #36 "Synergy with ReactiveUI"
Hi, All.
Does anybody try resux.NET with ReactiveUI?
How it works together?

[2016-07-04 16:12] Maarten88 opened #37 "Hard versioned Rx-Main dependency"
All Rx-\* packages seem to have been [unlisted from nuget](https://www.nuget.org/packages/Rx-Main/). They have been succeeded by new NETCore compatible versions and renamed as [System.Reactive](https://www.nuget.org/packages/System.Reactive/), version 3.0.0

Redux.NET has a hard nuget dependency on Rx-Main 2.2.5, causing a compile error after trying to migrate to the new version.

[2016-07-06 16:15] gpltaylor opened #38 "Combine Reducer"
Is there an ability to support combined Reducers? I have looked over the code and can't see this.

It would be a great feature!

[2016-09-01 20:37] dinoc opened #40 "Reducer Performance"
In a larger app where we have lots of reducers and dispatched actions, does it make sense to try and avoid type checking within each reducer?

For example, the following is 1 reducer in the TodoMvc example:

[code]

When an action gets dispatched in a very large app, we would have to type check against every if-statement within every reducer.

Would it be better to add an ActionType enum to the IA

[2016-09-10 19:34] GuillaumeSalles commented on #37
Sorry for not replying sooner...

I just pushed a new version of Redux.NET that depend on System.Reactive. You can find it here : https://www.nuget.org/packages/Redux.NET/1.0.1

[2016-09-10 19:34] #37 closed, assigned to nobody

[2016-09-10 21:02] GuillaumeSalles commented on #30
The new [C# records](https://github.com/dotnet/roslyn/blob/features/records/docs/features/records.md) could be useful to build an immutable state without boilerplate !

[2016-09-11 16:34] hungnd1475 commented on #40
One workaround for this is to use the Visitor Pattern. With this you only have to type cast one time and the Visitor will take care of the rest. Your example can be rewritten using the Visitor Pattern as follow.

First create an IVisitableAction inherited from IAction which can be visited by the Visitor.

[code]

Then with each action type you create a concrete class implementing IVisitableAction.

[2016-09-12 12:37] dinoc commented on #40
I'm not as familiar with the Visitor pattern, which probably makes this feel like it's harder to reason about what is going on.  I can appreciate the use of this new pattern in this architecture but it probably won't be for everyone.

[2016-09-12 23:54] GuillaumeSalles commented on #40
Thanks @dinoc for the question.

First of all, it's important to note that clarity was my main focus when I made the reducers in the samples. In my experience, the type checking / casting has never caused a performance issue. Performance issues are often related to doing too much work on the UI thread or the shape of the state.

However, I can explain why I did not add an ActionType property on IA

[2016-09-12 23:54] GuillaumeSalles commented on #40
On a side note, C# 7 pattern matching would be great way to write clean reducers :
https://github.com/dotnet/roslyn/blob/features/patterns/docs/features/patterns.md

[2016-09-14 12:46] dinoc commented on #40
What about adding a simple GetClassName method on the ActionBase and comparing against those in the reducer?  That would remove reducer logic from the action.

If you wanted to take that a step further too....creating a new [Fody](https://github.com/Fody/Fody) add in to weave a property in for the class name would be kind of cool too.

[2016-09-19 19:18] dinoc commented on #40
Good news...there already is a fody add-in for this - https://github.com/NickStrupat/NameOf

[2016-10-02 11:22] mypark opened #41 "Cannot add to basic Xamarin.Forms project via nuget"
New to Xamarin.forms and PCLs, and I'm trying to add via nuget to a Hello world xamarin.forms project when I get the following error:

`Could not install package 'Redux.NET 1.0.1'. You are trying to install this package into a project that targets '.NETPortable,Version=v4.5,Profile=Profile259', but the package does not contain any assembly references or content files that are compatible with that

[2016-10-10 13:50] MarkPieszak opened #42 "[Question] Could this be used as an equivalent to CQRS & Event Sourcing concepts?"
Huge Redux fan on the client-side, and recently have been reading up on Event Sourcing in combination with the entire CQRS concept on the .NET side.

That entire concept seems like lots of leg-work, and seems like a grittier version of Redux. I'm not sure if you're familiar with them, but couldn't we use Redux here instead of all that?

It seems like **CQRS** (_command / query / responsibility / s

[2016-11-06 00:55] xaviergonz commented on #30
For anyone who is interested I made something to minimize the boilerplate needed when using redux (at least while C# doesn't implement it itself):

https://github.com/xaviergonz/T4Immutable
T4Immutable is a T4 template for C# .NET apps that generates code for immutable classes.

As an extra note I just updated it to properly support properties that are collections. GetHashCode, Equals, etc will wo

[2017-02-06 22:41] johnmurphy01 opened #44 "Action properties and grouping question"
In my project, I am using an action for each individual property within my application state. This is working just fine but I keep coming back to the question, "Should I be grouping my state properties within a single action?". For example, I have a login screen. Should I have one action that is the `SetLoginStateAction` that contains things such as whether the email is valid, the password, etc...

[2017-02-10 11:08] ossiv commented on #32
This is still a problem after 0.5.0. I have run into an issue where the reducers are run in the correct order, but the state subject's OnNext is called in reverse order for two actions dispatched close to one another from different threads. Fortunately I was able to fix this by just moving the dispatch so that it is run on the same thread as the other one.

[2017-03-06 19:35] GuillaumeSalles commented on #44
Hi @johnmurphy01,

Good question! Here is a quote of the redux (Javascript) author on this subject : "[...] Redux is fairly useless if you treat actions as setters and couple actions directly to reducers." (https://twitter.com/dan_abramov/status/793379336309071872)

An action does not have to update a single property of your state. It does not have to be handled by a single reducer. An action can

[2017-03-06 20:21] GuillaumeSalles commented on #42
Hi Mark! Thanks for the kind words!

I see Redux as a front-end library that implements some CQRS / Event sourcing concepts. Historically, it seems that flux does not directly come from CQRS / Event sourcing but they both solve state related issues.

Redux documentation does reference to CQRS / Event sourcing : http://redux.js.org/docs/introduction/Motivation.html

[2017-03-14 14:21] cmeeren opened #45 "Make compatible with .NET Standard"
Please make this installable in .NET Standard class libraries.

I've just come across Redux in general and this package in particular, and I'm pumped and ready to get started, but I'm afraid lacking .NET Standard support is a deal breaker. 😢

[2017-03-14 14:30] cmeeren commented on #45
Btw, I successfully compiled the two files (`IAction.cs` and `Store.cs`) when copied into a .NET Standard 1.0 project, so I expect it's just a matter of updating some metadata and publish to Nuget.

[2017-03-14 14:56] GuillaumeSalles commented on #45
Hi @cmeeren,

I will publish a new version today.

[2017-03-14 19:18] xperiandri opened #46 "Observable collection that keeps suitable items"
When an `ItemsControl` derived control is bound to a collection it creates visuals to display such items.
When you switch reference in `ItemsSource` to another one all that visuals are thrown away and new visuals are created.
So this is not the best solution for performance reasons.
Hence in order to make this scenario performant required an implementation of `INotifyCollectionChanged` which can c

[2017-03-15 02:02] #44 closed, assigned to nobody

[2017-03-15 02:03] #42 closed, assigned to nobody

[2017-03-15 03:46] GuillaumeSalles commented on #45
New release : https://www.nuget.org/packages/Redux.NET/2.0.0

I think I upgraded the nuget correctly but I'm waiting for your approval to see if everything work fine on your side. 👍

Thanks

[2017-03-15 03:50] GuillaumeSalles commented on #41
Hi @mypark,

Sorry for the delay. I was busy with other projects during the past few months...

I just released a new version of Redux.NET that target .NET standard 1.1. Maybe it will solve your case.

 https://www.nuget.org/packages/Redux.NET/2.0.0

Hope it helps

[2017-03-15 07:32] Rajivhost opened #47 "Saga"
Hi,
It will be great if we can have such a Redux-Saga implementation.

[2017-03-15 18:32] cmeeren commented on #45
Thanks! Installed fine. For the record, here's the packages that were installed. Don't know why `System.ComponentModel` and `System.Runtime.InteropServices.WindowsRuntime` were installed - are those dependencies of `System.Reactive`?

[code]

[2017-03-20 12:11] cmeeren opened #48 "Is the return value from Store.Dispatch useful for anything?"
Originally titled ``Middleware - no difference between `return next(action);` or `next(action); return null;`?``. See second comment below for new info.

I came across this while implementing a middleware which sent the action off to async "listeners", see the next comment for details.

For simplicity's sake, consider the following middleware:

[code]

The app seems to run exactly the same if I re

[2017-03-20 12:35] cmeeren commented on #48
More info:

I came across this while trying to implement “listener middleware”, according to Alex Reardon's post [The ‘middleware listener’ pattern: better asynchronous actions in Redux](https://medium.com/@alexandereardon/the-middleware-listener-pattern-better-asynchronous-actions-in-redux-16164fb6186f#.bs2rzwuuf). To me this seems like a great way to implement async operations in Redux, because

[2017-03-20 13:33] cmeeren commented on #48
After some more thought and investigation, allow me to partially answer my own question:

The return value from the middlewares “bubbles up” through the middleware stack, and is ultimately accessible as the return value of `Store.Dispatch()`. For example, if one of the middlewares returns `null`, the return value of `Store.Dispatch()` will also be `null`, whereas if all middlewares return `next(ac

[2017-03-20 20:49] cmeeren opened #49 "What is the point of this Redux.NET line"
What is the point of [this line](https://github.com/GuillaumeSalles/redux.NET/blob/abf984ef78a2034ce08729bf6042100438649faf/src/Redux/Store.cs#L33)? I.e., what is the point of calling `_stateSubject.OnNext(_lastState);` at the end of the `Store` constructor? My understanding is that it calls any subscriber callbacks (like firing an event). However, I assume it's not possible for anyone to subscrib

[2017-03-21 04:38] lilasquared commented on #48
@cmeeren the result from middlewares bubbling up is much more important if you are using redux with something like javascript that has no types.  If you think of a middleware that might return a promise, you could then see yourself writing some code that looks like
[code]
here it is important that the `store.dispatch(...)` method returns the promise otherwise the `.then(...)` call will fail.

In t

[2017-03-21 20:30] GuillaumeSalles commented on #49
If you remove this line, the initial state will not be pushed at first subscription.

If I remember correctly, this [test ](https://github.com/GuillaumeSalles/redux.NET/blob/master/src/Redux.Tests/StoreTests.cs#L87) will fail if you remove it.

[2017-03-21 20:30] #49 closed, assigned to nobody

[2017-03-21 20:33] GuillaumeSalles commented on #49
Maybe I'll push a new version without the Subject to clarify the code, if some people are interested.

[2017-03-21 22:32] GuillaumeSalles commented on #48
Thanks a lot @cmeeren and @lilasquared for your comments. You definitely put a lot of thoughts on the subject!

@lilasquared is totally right about the purpose of the Dispatcher's return value. I tried to make the Dispatcher generic one year ago to dispatch but if I remember correctly the C# type system is a too restrictive to achieve what you want to do.

Let's imagine we transform the Dispatcher

[2017-03-21 22:38] GuillaumeSalles commented on #47
Hi @Rajivhost,

I tried to implement it in the past but the yield operator is more limited in C# than the javascript operator. The interface would not be as clean.

Feel free to give it a try! A redux-saga implementation in .NET would definitely be impressive.

[2017-03-22 00:59] GuillaumeSalles commented on #46
Hi @xperiandri.

You are right. 👍 We need a way to patch items like react does with its vdom.

One way to do this is to use patch algorithm like the Levenstein distance (https://en.wikipedia.org/wiki/Levenshtein_distance). It has a O(m*n) complexity so it could have performance issue on large collection. I wrote a small extension method on ObservableCollection<T> without much tests so it could con

[2017-03-22 00:59] #41 closed, assigned to nobody

[2017-03-22 01:01] GuillaumeSalles commented on #32
Hi @ossiv,

Sorry for the delay. If you have a gist to reproduce the threads issue, I would me glad to take a look to fix it.

Thanks

[2017-03-22 11:14] xperiandri commented on #46
Extension method will not be as efficient as custom collection, a collection can batch update as a batch update within args of a single time raised event. Maybe not single time but not as much as 4 times. I don't remember the args type implementation

[2017-03-22 19:36] cmeeren commented on #49
Ah, I see, it has to do with the workings of the reactive stuff. Thanks!

[2017-03-22 19:40] lilasquared commented on #38
@gpltaylor lots of the stuff from redux that is cool is allowed because it is javascript which doesn't have type safety.  I think that @GuillaumeSalles was trying to create something that follows redux patterns as well as conforming to type safety of C#. (we discussed a similar issue with middleware [here](https://github.com/GuillaumeSalles/redux.NET/issues/48))  I can't think of a way to implemen

[2017-03-22 20:17] cmeeren commented on #48
I'm also entirely new at this, but to me it seems like a great pattern, because the logic performing async actions are completely separated from the rest of the code. Say you have a login page. In the view's codebehind, all you have is `SignInButtonOnClicked` handler which simply dispatches a `SignInRequestedAction`. Then a `SignInListener` acts on this and sends `SignInCompletedAction(string toke

[2017-03-22 20:31] lilasquared commented on #48
@cmeeren i will definitely check it out but i would recommend to make the middleware you've bundled with it its own package if you post to nuget simply for the sake of separating concerns.  redux does not ship with any middleware at all.

If store.dispatch returns void then does that mean you cannot return anything from it?  So the case of chaining async actions wouldn't work in the case of the re

[2017-03-22 21:11] cmeeren commented on #48
Thanks, I've considered that and will probably do that if I make it available on Nuget.

Correct. Returning void means you can't chain anything, because there's nothing to chain. This doesn't matter to me, because I use the listener pattern instead of async actions or other similar methods. Having to return things from my middleware just felt like noise.

Never heard of it.

[2017-03-22 23:19] GuillaumeSalles commented on #48
The action creators logic in the async example are in the PCL projects too.
https://github.com/GuillaumeSalles/redux.NET/tree/master/examples/async

I see Redux (javascript and .NET) as a low level library that allow the users to build higher level extensions to consume it the way they want. I thinks this extensibility is one of the root cause of its popularity in the javascript community. So list

[2017-03-23 08:45] cmeeren commented on #48
Oh, now I see. I hadn't looked closely enough at this example. A quick comparison:

Async listener | Async action creator
--- | ---
Enabled via specialized middleware | Enabled via extension method on `Store`
An action-dispatching “middleware” that acts on all incoming actions | An action-dispatching function that is run using the extension method
Logic placed in separate class (listener) | Logic

[2017-03-23 20:54] ghost opened #50 "[Question] Any plans for state persistence?"
Having used Redux on React Native I was pleased to see this library as I start to explore Xamarin.

On React Native I used the redux-persist module for managing automatic persistence and rehydration of state in my app.

Are there any plans for something similar with this library, and if not what are people doing for persisting their state when using this in Xamarin apps?

Thanks

[2017-03-26 20:01] lilasquared commented on #48
@cmeeren @GuillaumeSalles I've been working on this for some time now and I think that I have a pretty good implementation going.  I studied the redux source code and ported it almost one for one.  The only thing I'm missing right now is the $$observable implemenation - mainly because I haven't used it and I don't know what it does.  I am very open to feedback and would be interested to hear what

[2017-03-26 23:41] lilasquared commented on #38
@gpltaylor I thought about this for a long time and finally came up with something that does the trick.  check out my implementation https://github.com/lilasquared/NRedux.  I would like to see if I can work it into Redux.Net as well @GuillaumeSalles if you like mine I can try and come up with a PR for you.

[2017-03-27 00:06] GuillaumeSalles commented on #48
@cmeeren Great analysis! Just to be clear, I'm not too fond of my implementation of async action creators... (That's why the extension method is not in a nuget package.) I tried to follow the advices of the official documentation (http://redux.js.org/docs/advanced/AsyncActions.html#async-action-creators) like @lilasquared did.
I tried to implement redux-thunk as a middleware in the past but I thin

[2017-03-27 00:30] lilasquared commented on #48
@GuillaumeSalles i have a background in both equally but I am a huge fan of javascript.  I pretty much read through the redux code and did my best to port it to C#.

I agree that the forced casting for the results of dispatch is a little messy.  Since the action creators define which type of action will be created and in a way tell the dispatcher which middleware to use, at design time you kind of

[2017-03-27 00:35] GuillaumeSalles opened #51 "Future of Redux.NET / version 3.0"
I open this issue to know what kind of features people would want in a v3.

I don't currently use Redux.NET in my day to day job so I can't really build something useful without feedback.

What improvements I currently have in mind :

- [ ] Remove dependencies on IObservable. I find observable useful to build [selectors](http://redux.js.org/docs/recipes/ComputingDerivedData.html), to improve [perf

[2017-03-27 00:38] GuillaumeSalles commented on #48
Sure! We can continue to talk about it here #51

[2017-03-27 01:42] lilasquared commented on #51
1. I think that having IObservable isn't necessarily a bad thing but it should be implemented as an optional feature similar to how [redux is](https://github.com/reactjs/redux/blob/master/src/createStore.js#L203).  Or possibly a middleware?
2. The enhancer is a cool feature because it allows for more enhancers than just ApplyMiddleware - As for drawbacks perhaps we can use the bindActionCreators t

[2017-03-27 03:31] lilasquared opened #52 "Create store bug"
While I was looking at the [thread safety test](https://github.com/GuillaumeSalles/redux.NET/blob/master/src/Redux.Tests/StoreTests.cs#L105) I came across a bug. If you add the below it will fail.

[code]

It could be how it was intended to be designed but redux is implemented with an initial action that is dispatched to call all reducers once when the store is created.  below is a similar test fo

[2017-03-27 07:33] cmeeren commented on #50
I have a middleware that simply persists the few things I need. For example, when I dispatch a `SignInSuccessfulAction { Token = "..." }`, the action is picked up by my `PersistenceMiddleware` which uses the `Application.Current.Properties` dict and `Application.Current.SavePropertiesAsync` to store the token.

(It's a bit more robust/encapsulated than that in the actual app, but that's the gist o

[2017-03-27 09:50] cmeeren commented on #51
First, let me state clearly how I stand:

* In general, when I decide which libraries to use, three requirements are central to me: 1) It should work, 2) it should have the features I need, and 3) it should be simple and elegant and not require too much boilerplate for my needs. Naturally, my own Redux implementation, [Yarni](https://github.com/cmeeren/yarni), satisfies all three (that's why I mad

[2017-03-27 12:52] dcolthorp commented on #51
I can see that we may each have differing goals with respect to how we would prefer to integrate this pattern into .net apps.

Like @cmeeren, I lean toward an approach more native to C#, as opposed to trying to reimplement the Javascript API.

To that end, having redux based on events seems reasonable, but the reason the pattern is appealing in the first place is because of how nicely it interplay

[2017-03-27 16:16] lilasquared commented on #51
@cmeeren and @dcolthorp Thanks for your feedback.  I'm sure a lot of dot net developers feel the same way you do - a dot net library should feel like dot net.  I created my implementation purely to see if it was possible.  Because of my background in javascript and existing patterns used in redux it felt familiar to me.  That being said I have no problem keeping redux.net feeling more like dot net

[2017-03-27 16:42] cmeeren commented on #46
I don't really know what the issue is here, but it seems the core of it is that something akin to a ListView is fully re-rendered even though only part of a collection in the state has changed, because the state collection does not implement INotifyCollectionChanged (and, indeed, is not and should not be mutable).

What about having a view model where you bind the control to to a local ObservableC

[2017-03-27 16:54] cmeeren commented on #51
It seems to me that we do actually agree on most core issues. Here's a rough spec sheet based on the current feedback:

* Use idiomatic C# - the primary focus is on familiarity to .NET devs, not JS devs. Design to push devs into best-practices C#.

* IObservable should be supported, but preferably not mandatory (it would be ideal if we can find a way to have both IObservable and events without too

[2017-03-27 18:29] lilasquared commented on #52
I should add that I only call this a bug because it differs from the current implementation.  The behavior that redux.net has makes more sense than redux IMO and there is interesting discussion around it in the link.

[2017-03-27 19:04] lilasquared commented on #51
@cmeeren nice work simplifying what we have talked about.  I like it.  I have a question about your reducer example that you've given.  In the root reducer Execute method you take in the previous state and action and return a new root state.  It looks like that happens no matter what action is dispatched - which means that the root state object reference will change every time any action is dispat

[2017-03-27 20:38] cmeeren commented on #51
@lilasquared Okay, here's a few thoughts on that:

1. Your observation is entirely correct: Any action will trigger the creation of a new root state instance.

2. Always avoid premature optimizations. In my specific app, the leaves of my state tree is one ImmutableCollection, a couple of strings and some bools. There really isn't much to optimize with regards to the state.

3. This is intentional,

[2017-03-28 20:29] lilasquared commented on #38
@gpltaylor if you're still interested in this we had a discussion about it here https://github.com/GuillaumeSalles/redux.NET/issues/51.  It turns out if you design the state object and reducers in a better way than i was doing you don't need a combine reducers method.  Let me know if that works for you!

[2017-03-28 22:09] #31 closed, assigned to nobody

[2017-03-29 20:53] GuillaumeSalles commented on #51
Wow, I was not expecting that much feedback! Really appreciated!

I agree. A StateChanged event is a lower entry barrier than an Observable.

I see 3 ways of doing it

1. ObservableStore class wrapper that take an IStore as a parameter (See [this](https://github.com/GuillaumeSalles/redux.NET/pull/55/files#diff-b486109895938145c0e47ddfec379dfcR13)

2. ObserveState extension method
[code]

3. Let th

[2017-03-30 02:15] lilasquared commented on #51
@GuillaumeSalles I think you have touched on one of the main points of concern that I have with the way the events / observables are being implemented or proposed to be implemented.  You mention that:

And you are 100% correct.  Platform specific things should not exist within redux.  If you were to use redux with any modern javascript library you would most likely use redux and a redux-helper to

[2017-03-30 06:31] cmeeren commented on #51
Since this is a major upgrade (2.x → 3.0), breaking changes are perfectly fine (see [SemVer](http://semver.org/) if you're not familiar with it; all libraries should adhere to semantic versioning IMHO). We should lay the foundation for a solid library going forward, and that will likely include several breaking changes.

No strong feelings on my part, but that's mostly because I lack the experienc

[2017-03-30 12:03] cmeeren commented on #51
I took a closer look at @dcolthorp's [blog post](https://spin.atomicobject.com/2017/03/13/adapting-redux-c-sharp-xamarin/) now, and I must say I find the projection philosophy quite compelling, where `Store.State` is not public (I guess `private`?) and state is only surfaced through projections defined as static functions passed to `Store.Observe()` (and `Store.Project()`).

We might consider impl

[2017-03-30 12:50] dcolthorp commented on #51
Hi everyone!

A few points of followup.

### Projections

I'm glad you like the projections idea @cmeeren! We've been doing one observe per property, but with a couple of twists on your example above:

First, we're using a MVVM-first approach that allows us to bind observables to a property. So in our view model we'd have something like `ShowEmptyMessage = ReactiveProperty.Create(store.Observe(Pro

[2017-03-30 13:48] cmeeren commented on #51
@dcolthorp, could you share the implementation of `Store.Observe` and `Store.Project`? I'm trying to experiment with creating a store extension, but I don't know much about reactive programming and have become stuck.

I actually just have the basic signature right, I think:

[code]

[2017-03-30 13:53] cmeeren commented on #51
On another note, I'm kind of thinking maybe we should just have (on the "base" store or an enhancer we ship) a `Subscribe` method like now. We would need it anyway for reactive support, it is just as easy to use as events (just without the `+=` syntax), and there are several disadvantages to events, see [the bullet points near the top here](http://www.introtorx.com/Content/v1.0.10621.0/02_KeyTypes

[2017-03-30 14:04] GuillaumeSalles commented on #51
If I understand the projection concept correctly it should be :

With redux.net 2.0.0

[code]

With an event based store

[code]

I fail to see the difference between @dcolthorp Observe and the IObservable.Select method. If I understand correctly, the difference is the context in which is used. Observe for domain concern and Select for view concern.

[2017-03-30 14:18] cmeeren commented on #51
Thanks! If it's that short and concise, @dcolthorp, what's the point of having an Observe method and calling `Store.Observe(Projections.MyProjection)` if you can just do `Store.Select(Projections.MyProjection)`?

[2017-03-30 14:23] dcolthorp commented on #51
Ah, sorry. Observe is just what we called Select on our Store implementation (not redux.net). The main goal is to not expose the core `IObservable<State>` directly. I wasn't intentionally suggesting a name change.

We also have a `T Project<T>(Func<State,T>)` function which returns an instantaneous snapshot, for those times when you just to know the value right now. It accepts a projection functio

[2017-03-30 14:32] dcolthorp commented on #51
For what it's worth, here's a [current snapshot](https://gist.github.com/dcolthorp/0ee87537624c596ccc1d72bffa73387b) of our `Store` implementation, which is built on top of a `Ref` type which implements most of the data management and signals. Store wraps that up and provides the core action handler registration and dispatch semantics.

The key thing to note is that `Dispatch` is currently called

[2017-03-30 14:34] cmeeren commented on #51
Thanks, that clears it up.

I'm leaning towards exposing the state (so that we don't force added layers/complexity, e.g. projections, on people who have simple needs). However, we might consider hiding it in an enhancer or subclass or similar, which instead surfaces Select (whatever the name) and Project. Thoughts?

[2017-03-30 14:38] dcolthorp commented on #51
I have no problem with that. :-) My aim is figuring out the API I want to program to, not designing an API everyone else should use. I'm happy to wrap a lower-level implementation (like I did with `Ref`).

P.S. One difference between `Select` and my `Observe` is that `Observe` does a `DistinctUntilChanged` so that observing a projection doesn't kick off spurious values when other parts of the stor

[2017-03-30 14:39] cmeeren commented on #51
I agree that this would be the expected behavior.

[2017-03-30 15:06] GuillaumeSalles commented on #51
IMHO, the truth lies in between. Redux.js API is reduced to the bare minimum thanks to the ton of feedback from the community. As @lilasquared noted, there is some differences between the C# version and the js version.

- Redux .NET calls the observer on subscribe and the js version don't. I think this behavior is implemented outside of redux.js by view engine specific extension (e.g. react-redux

[2017-03-30 15:38] GuillaumeSalles commented on #51
@dcolthorp Redux-saga is extremely interesting but I think we can all agree that it should be built as an extension. I reopen the issue #47 to go deeper on this topic. It would be impressive to build Saga in C#.

[2017-03-30 16:20] GuillaumeSalles commented on #47
@dcolthorp Did you successfully port the saga concept to C#? If yes, I'm interested in what the public api could be.

As I said earlier, yield C# operator is just an iterator. The javascript yield operator is a generator. I don't think the C# public API could be as clean as the javascript version.

IMO, there is a lot of similarity between Saga and free-monad + interpreter. I never used monad in C

[2017-03-30 16:35] dcolthorp commented on #47
Hi @GuillaumeSalles,

Yeah – my plan is to use `async/await` instead of `yield`, and building toward the power of sagas via `System.Threading.Tasks` and Rx capabilities, as opposed to trying to directly port sagas and it's generator-based model directly.

Here are a few code sketches. These are meant to be illustrative and not necessarily directly applicable to redux.net.

Perhaps you attach a sag

[2017-03-30 17:10] cmeeren commented on #51
We could implement this as an enhancer, or make it optional through the store constructor or some CreateStore method or whatever we end up with.

[2017-03-30 20:09] cmeeren commented on #47
@dcolthorp, am I right in assuming that sagas as sketched by you above can only react to state changes, not actions? How does this work, exactly? My listeners are served all actions, and react to them, e.g. SignInRequestedAction will make the listener call the sign-in API and dispatch an appropriate action depending on the result. How would this work of the sagas never see actions?

[2017-03-30 20:30] dcolthorp commented on #47
Ah, good question @cmeeren . The store implementation I'm using to explore this idea (not redux.net) statically types actions, and uses `action.GetType()` for dispatch. Reducers and sagas in this formulation can be thought of being invoked after the test on the action type. I don't think that detail is necessarily crucial for the overall approach and applicability to redux.net, but does make the e

[2017-03-30 20:35] cmeeren commented on #47
What about sagas wanting multiple actions? I have a listener that displays error messages, and it listens to all XxFailed actions from my API listeners, as well as a few more. And I have a listener that displays dialogs that the user can confirm or reject, and that also listens to a couple of actions.

[2017-03-30 20:52] dcolthorp commented on #47
To be clear – I did not mean to suggest that type-based dispatch should be adopted for this purpose in redux.net. My intent was merely to share an example of what a task-based saga might look like, using some working examples from my codebase. Including that example muddled the issue. My frame of mind right now is on proving out the idea in my own playground and it didn't transfer well. :-)

Regar

[2017-03-31 06:04] cmeeren commented on #51
Currently [reading up on Rx](http://www.introtorx.com/) and liking what I learn. I came across the following on [this page](http://www.introtorx.com/Content/v1.0.10621.0/04_CreatingObservableSequences.html):

Furthermore:

See the page for further details.

Currently, the `Store` implementation "fails" on both accounts: It implements  `IObservable` and uses subjects. Should we implement the observ

[2017-03-31 12:06] dcolthorp commented on #47
@cmeeren and @GuillaumeSalles –

I put together a rough proof of concept of the basic model last night. Here are the [unit tests](https://gist.github.com/dcolthorp/0ee87537624c596ccc1d72bffa73387b#file-sagatest-cs) that illustrate the approach more fully. Hopefully this complete example better illustrates the API of my proof-of-concept store. `RegisterHandler` is akin to adding a reducer to a `com

[2017-03-31 12:22] cmeeren commented on #47
I'll take a look at your code when time permits. For now, here are some immediate thoughts:

1. I like the idea of an IObservable of actions. (I can't see the full consequences of it right now, though.)

2. Concerning sagas and multiple actions, am I right in assuming that what you propose is this?
    * If a saga wants a single action, select and cast to that, and define your saga signature to on

[2017-03-31 13:19] ossiv commented on #32
Hello,
I have created [this gist](https://gist.github.com/ossiv/a98b518c64b807e76a23d87b756ad2b9) to try to reproduce the issue. The `Debugger.Break()` should never get hit since the value in the store is always increasing, but it does sometimes.

I think what may be happening is the following:

[code]

The lock statement, and thus the reducers, get run in the correct order, but after the lock, on

[2017-03-31 13:26] dcolthorp commented on #47
@cmeeren.

#2 is exactly right.

Re #3 – yes, you could do something similar for reducers, and this would be a natural and powerful middleware in C#. It certainly seems to me that if you had the ability to use Rx to control the invocation of sagas, it'd make sense to allow the same sort of thing for reducers. Doing so would obviate the need for e.g. a throttling middleware.

[2017-03-31 13:29] cmeeren commented on #47
Nice. Again I find myself just leaning more and more towards basing this on Rx. I've tried to [get into it](http://www.introtorx.com/) the last couple of days and I like it better and better.

[2017-03-31 21:17] GuillaumeSalles commented on #52
Sorry to answer this late. I gave a hint about this in another issue :

What do you think ?

If you think it's a good feature to add, PR is welcome :)

[2017-03-31 21:23] cmeeren commented on #52
Are you suggesting that we require the reducer(s) to specify the initial state? How exactly would this work in practice?

[2017-03-31 21:36] lilasquared commented on #52
@cmeeren I think the way it works for redux is that the smaller reducers can provide their initial state if one is not provided to them.  You could call
[code]
without passing any initial state and each of the smaller reducers would supply its own.
If you read through some of the PRs on redux they talk about renaming the second parameter of `createStore` from *initialState* to *preLoadedState* as

[2017-03-31 21:41] cmeeren commented on #52
I don't think reducers should specify the initial state, because that would preclude them from using the "sentinel" value, e.g. `null`. That is, if the reducer gets `previousState = null` interprets this to mean "use the default state", then that precludes using null values for that state member.

Currently (not saying this is the best solution) I define the initial state when the app starts, in t

[2017-03-31 21:46] lilasquared commented on #52
@cmeeren I think we are saying the same thing, but Imagine though that you have 5 or 6 root states that are all composed of objects with 5 or 6 other state objects.  You can see how this can grow exponentially and be quite a nightmare to maintain all in one place.

[2017-03-31 22:01] GuillaumeSalles commented on #52
It seems you understand the issue correctly but just to illustrate :

[code]

All the philosophy is explained [here](http://redux.js.org/docs/recipes/reducers/InitializingState.html).

It's not as practical as js because of the optional parameter in first position.

@cmeeren You are right that it does not allow "sentinel" values. This pattern is recommended but not mandatory. The developer can sti

[2017-03-31 23:43] GuillaumeSalles commented on #47
You only talk about the actions subscription aspect. of redux saga. You don't find the saga "purity" interesting? Personally, I find redux-saga interesting because it let you dispatch actions only with pure functions.

Side note on Rx :

[code]

is equivalent to

[code]

[2017-04-01 07:51] cmeeren commented on #47
If you're talking about the fact that the original action dispatchers cause no side effects (e.g., a view/VM only dispatches `SignInRequested` and lets the saga handle sign-in and dispatching further actions, instead of the async calls being performed by the view/VM), or the fact that all actions themselves are simple "record types", then I completely agree, and that is in fact why I have opted fo

[2017-04-01 08:23] cmeeren commented on #52
Oh, I see - it's only if the actual state objects are null that the default state (for that state object, e.g. `AState`) is returned. I have absolutely no problem with that, because AFAIK these object should never ever be null (while the actual "data" values, e.g. the leaves of the state tree, can be null).

To clarify - if your state tree is like this:

[code]

then `StateA`, `StateAA`, `StateAB`

[2017-04-01 12:56] GuillaumeSalles commented on #52
You understood perfectly! :)

[2017-04-01 18:06] GuillaumeSalles commented on #47
I'm talking about declarative effects. More info :

- Making our code testable section https://redux-saga.github.io/redux-saga/docs/introduction/BeginnerTutorial.html
- https://redux-saga.github.io/redux-saga/docs/basics/DeclarativeEffects.html

If you remove this part of redux-saga, I think it become an advance version of your middleware listener.

[2017-04-01 18:10] GuillaumeSalles commented on #47
That's why I talked about the limitation of the yield keyword and [free-monad](http://underscore.io/blog/posts/2015/04/14/free-monads-are-simple.html).

Redux-saga is a little bit like free-monad but it's still not enough to make saga testable like in javascript. Interesting comments [here](https://github.com/redux-saga/redux-saga/issues/505).

[2017-04-01 18:47] GuillaumeSalles commented on #32
Hey, you are totally right!

We are currently working on a full rewrite of redux.NET that I think should fix your issue. See #51 and #58.

The state will not be passed directly to the observer so GetState will always return the last state. It's not ready yet but I will add a unit-test based on your gist to make sure your issue is fixed.

Thanks a lot for your gist!

[2017-04-01 20:03] cmeeren commented on #47
Thanks for the clear-up. I didn't really understand anyway, because I have no knowledge of "declarative effects" and "generators" and "monads" (at least not by those names). But we can leave it there for now. :)

[2017-04-01 20:25] cmeeren opened #59 "Refactor GetState() to State (property)"
This has been mentioned a few times, e.g. https://github.com/GuillaumeSalles/redux.NET/issues/51#issuecomment-289406335. Just creating this separately for the record, so it's not forgotten. :)

[2017-04-02 11:18] cmeeren commented on #51
I mentioned somewhere I'd post my (trivial) implementation of ProjectingStore. [Here it is](https://gist.github.com/cmeeren/7343b62c8e115e646634a64fdf489ac0):

[code]

[2017-04-02 14:38] cmeeren commented on #47
@GuillaumeSalles I don't really get the relevance of the generator/declarative effect stuff. I read through your links, [Beginner Tutorial](https://redux-saga.github.io/redux-saga/docs/introduction/BeginnerTutorial.html) and [Declarative Effects](https://redux-saga.github.io/redux-saga/docs/basics/DeclarativeEffects.html), and it seems that all they seek to accomplish is to make sagas testable. Fo

[2017-04-02 21:17] GuillaumeSalles commented on #59
Thanks!

[2017-04-03 07:55] cmeeren opened #60 "Make InnerDispatch protected virtual"
Since `Store` is a low-level API, we should be able to override its members. I've made PR #61 for this.

I came across the need for overriding `InnerDispatch` when trying to subclass `Store` to create a kind of `ObservableActionStore` that surfaces a property `IObservable<IAction> Actions`. This should only be fired (`OnNext` called) when the action reaches the inner dispatch, but to override `Inn

[2017-04-03 10:14] cmeeren commented on #47
@dcolthorp, I might have a solution for the problem you describe in https://github.com/GuillaumeSalles/redux.NET/issues/47#issuecomment-290694783. Take a look at PR #62.

[2017-04-03 16:44] dcolthorp commented on #47
@cmeeren – Excellent! That looks great! I think you're right that it would support the model I'm aiming for.

From what I can tell, your model would support everything I aim to do. Your proof-of-concept implementation isn't exception safe – a saga which throws will cause `RemoveOperation` to not get invoked, and the exception [wouldn't be re-thrown](https://gist.github.com/dcolthorp/0ee87537624c59

[2017-04-03 16:54] cmeeren commented on #47
Thanks! I'll have a look at that. I suggest we take further discussion on the actual PR, and see if we can't slowly shape it up into something that can be included in some form or another.

[2017-04-04 13:30] cmeeren opened #63 "New ActionDispatched event would duplicate StateChanged"
I'm working on a quick PR to add an `ActionDispatched` event to `IStore` and `Store`. I figured this was orthogonal to everything else on the store, and the intention was for this event to work as a backing for an extension method providing an IObservable of actions, as has been mentioned a few times (e.g. https://github.com/GuillaumeSalles/redux.NET/issues/47#issuecomment-290694783).

While makin

[2017-04-04 21:37] dcolthorp commented on #63
It seems reasonable for `ActionDispatched` to be on the core Store to me. Honestly, I think of it as, if anything, even more fundamental than the `StateChanged` event. State updates and publication of `StateChanged` could in principle be just a default handler for `ActionDispatched`. You could also consider decoupling the two at a lower level, allowing e.g. the implementation of alternative state

[2017-04-05 06:25] cmeeren commented on #63
I agree that `ActionDispatched` is more fundamental than `StateChanged`. The state, after all, changes in response to an action dispatched to the reducers.

It is also true that using `ActionDispatched` would allow for other state management models. However, considering that core idea of Redux is that 1) the state is encapsulated by the store and 2) the only way to change the state is to dispatch

[2017-04-05 12:33] dcolthorp commented on #63
I'd vote for #3. It adds real power to the system, but its use is rather specialized – e.g. for extending the store.

Your point about orthogonality is well taken, but I think there are significant conceptual differences. ActionDispatch is for tapping into the event stream, StateChanged is for reacting to changes in the state. Sure, there's a causal relationship between them, but they're two diffe

[2017-04-05 12:51] cmeeren commented on #63
I agree that having both `StateChanged` and `ActionDispatched` seems the best solution – the former for reacting to state changes, and the latter as a powerful way of extending the store. @GuillaumeSalles, do you agree? I can have a PR up pretty quickly, it's almost done.

[2017-04-05 13:11] lilasquared commented on #63
I don't understand what this does that a middleware couldn't do. Middleware receive all actions and have the ability to do something with them before they reach the store. Middleware and stew creators are used to extend the store so I'm not sure I'm understanding the value of more events on the store itself

[2017-04-05 13:11] lilasquared commented on #63
Store creators* damn mobile

[2017-04-05 14:24] cmeeren commented on #63
`ActionDispatched` is a fairly low level concept that makes the store more extensible. It serves as the basis for an observable of actions that allows registering sagas using Rx, see #62 for details (particularly the unit tests for the registration syntax). Using Rx to subscribe sagas is more powerful than using any old middleware, as it's trivial to support throttling, strong typing of actions (n

[2017-04-05 14:27] cmeeren commented on #63
It's important to note though that this does not replace middleware. This is for doing stuff with actions that have already reached the store and been dispatched. This is not possible with middleware. While middleware can stop actions, which is orthogonal to what this event is for.

[2017-04-06 03:08] powerdude commented on #63
I'm a new commenter, but i think you should just have StateChanged, but go back to the standard way of using EventHandler<T> for the event.  You will get the best of both worlds and T could be an object that would include the action.  There's no reason to raise two events and you should follow the standard .NET event pattern.

[2017-04-06 06:55] cmeeren commented on #63
It's true that we could pass some kind of `StateChangedEventArgs` that could include the action, but that's really then just `ActionChanged` under another name.

I disagree. The dispatched action shouldn't be needed for most purposes on a state-changed event in a redux architecture (it's mainly for more easily extending the store), so including the action could cause confusion among users and at w

[2017-04-06 13:34] cmeeren commented on #63
Created a PR for this at #64 so we have some code to look at.

[2017-04-14 03:35] helzgate commented on #41
I had to uninstall it because it it automatically tries to install the wrong version of system.reactive components compiled with PCL v5.0.  After uninstalling, I manually installed Reactive Extensions Main Library and manually picked version 3.0.0.  Then installed the latest version of Redux.Net with no issue.

[2017-04-14 03:52] PostImpatica opened #65 "Won't compile in Xamarin"
I'm using xamarin in vs2017 preview for mac and the pcl 4.5 111 profile and it won't compile using version 2.0.0 of Redux.Net.  It tells me it was compiled against PCL 5.0 and isn't compatible.  Basically same issue as #41 just a different profile I guess.

[2017-04-20 19:13] masterwok commented on #65
Seeing this as well...

[2017-04-21 07:41] cmeeren commented on #65
For now, try using a pre-2.x.x version. AFAIK the only change 2.0.0 brought was .net standard compatibility. Note that I'm successfully using 2.0.0 with profile 7.

[2017-05-03 11:49] cmeeren commented on #51
@GuillaumeSalles There has been little activity in this repo for a while now. I'm specifically thinking of the outstanding pull requests (#61, #62, #64). Everything okay? Do you need anything more?

[2017-05-25 21:18] john-varga commented on #59
I created a PR for this: https://github.com/GuillaumeSalles/redux.NET/pull/66

Not sure how you like to work, you can assign this issue to me if you'd like.

[2017-06-07 06:36] p-sheth opened #67 "Question about Dispatching Actions."
Hi,

I am working on Xamarin application and have been using MVVM so far. I am now trying to incorporate Redux to manage the state.

My question is, which a good place to call Store.Dispatch()? Should I keep it in code behind of Xaml or viewmodel?

It works either ways, but I want to understand which is a better practice? Should I continue using ViewModels after adopting Redux or just wire the sta

[2017-06-07 06:38] cmeeren commented on #67
Both works. I've seen viewmodels used; personally I just use the codebehind, because I don't need much logic in there for my app (and also I want to make it easy to port from Xamarin.Forms to native Xamarin.Android/iOS for experimentation, which AFAIK do not support data binding out of the box).

[2017-07-26 08:58] sclarke81 opened #69 "What's the status of this project?"
Hi all,

I'm really interested in this project. I'm playing around with using react and redux in C# and, particularly after reading the V3.0 discussion, I think this project fits nicely with the way I'd like to work with redux. The ideas coming from @GuillaumeSalles, @cmeeren, @lilasquared and @dcolthorp are great. It's noticeable that in my research on redux in C# that I've come across many blog

[2017-07-26 09:35] cmeeren commented on #69
I have no idea, and have been trying to find out too, see https://github.com/GuillaumeSalles/redux.NET/issues/51#issuecomment-298889221

That being said, I've moved away from using Redux for my app (it wasn't the best framework in my specific case), so I probably won't be contributing any more to this project.

[2017-07-26 10:25] sclarke81 commented on #69
The lack of response to your comment was also part of my concern... I hoped that raising an issue would have a bit more visibility.

Do you mind if I ask what brought you to that conclusion? I'm still in the early stages of research and testing different paradigms so any input would be gratefully received.

[2017-07-26 10:55] cmeeren commented on #69
Put simply, it was a pain to add a few new screens to my app, requiring adding new state, reducers, actions, and sagas (or whatever other async handlers one uses), i.e. a lot of boilerplate over just adding a view model. The pain was partly due to my using Redux as the sole source of state, instead of having view models with "view-local" state and only putting the global state in Redux. This was p

[2017-07-26 11:47] sclarke81 commented on #69
Thanks for taking the time to share your experiences. I've been writing TodoMVC examples in different ways and I'm already noticing the amount of boilerplate Redux involves. It's also tricky to find the balance of store and local state. So it feels like I'm hitting some of the same issues. I really like the Redux paradigm though. I also find Cycle interesting but I don't have enough of a handle on

[2017-07-27 09:29] sclarke81 commented on #69
I've decided to open source my examples in [TodoMVC.NET](https://github.com/sclarke81/TodoMVC.NET) in the hope that they might help others. I'd like to replicate the original [TodoMVC](https://github.com/tastejs/todomvc) project, but for .NET. Feel free to take a look and let me know your thoughts.

[2017-07-31 00:22] GuillaumeSalles commented on #69
Really sorry that I didn't take the time to answer sooner.

I don't have the motivation to work on Redux .NET anymore and I don't think it will change in the future. I didn't use .NET for the UI part professionally during the last 2 years so I don't think I'm the right person to maintains Redux.NET right now.

If some people are interested to make Redux.NET evolve in whatever the direction they wa

[2017-07-31 12:52] sclarke81 commented on #69
That's ok, I think we all understand what it's like.

I'm definitely interested in doing that. I'd be happy to help initially with the outstanding pull requests. Longer term it'll probably depend on what route I decide to take with my UI projects. If any of the others would join in that'd be great as I'm still new to react/redux.

[2017-07-31 14:00] cmeeren commented on #69
I'll stay on the sidelines for this, since I'm not currently using Redux.NET myself.

[2017-08-02 22:36] joeskeen opened #70 "WPF Dev Tools don't work"
Installing the redux.NET Dev Tools NuGet package as shown in the documentation gets a very old version (from 2015).  Attempting to use it results in a `MissingMethodException`.  Looking at the source, it seems that the dev tools have been updated since then, but they haven't been pushed to NuGet.  Could we get a NuGet package pushed with the latest version of the redux.Net Dev Tools?

[2017-08-03 11:30] codepunkt commented on #69
The solution might be simple: Create a Redux.NET organization on github, move repository there and add some willing maintainers from this repo - that actually use the project, preferrably on a day to day basis.

[2017-09-07 04:31] AliCharper opened #71 "C#.NET Windows Applications."
Hi,

Can we use this platform for C#.NET Windows Applications or no?.

[2017-09-07 07:18] Vazerthon commented on #71
I've played around with it in a C# WPF app, it works well.

There seem to be some questions about the future of redux.NET though, you might want to have a look at [An Immutable Asynchronous State Holder in C# - blog post by Atomic](https://spin.atomicobject.com/2017/07/31/c-sharp-state-holder/) as an alternative.

[2017-09-07 08:00] AliCharper commented on #71
so you mean I should forget it.

[2017-09-07 08:07] Vazerthon commented on #71
I wouldn't got that far. The maintainer stated in #69 that they don't have time to maintain this project any more. Some others have suggested taking it over. I found it pretty stable for my needs but if you plan to go into production with a banking app you might want to look elsewhere.

[2017-09-07 08:14] AliCharper commented on #71
so what should we do?. I need something like this.

[2017-09-07 09:35] Vazerthon commented on #71
Redux is a pretty well documented concept, you could always build your own. Or just use this until you find a limitation then swap out to something else.

[2017-09-07 10:46] sclarke81 commented on #71
I think @Vazerthon has summarised where things are at pretty well. I created a project called TodoMVC.NET to try out some different frameworks. So there's a Redux.NET example on there. I like it and think it works well, but between using it myself and reading the discussions on here I think it can be improved.

As has been mentioned, the current owner isn't going to be able to support Redux.NET bu

[2017-10-12 20:31] jjwilliams42 commented on #71
@sclarke81 I agree with your comment about there being relatively little code to maintain. The pattern it's following isn't changing, with a solid foundation in place, there really shouldn't be a whole lot of "new features", maybe some bug fixes here and there.

We are running into state problems in our WPF application and I'm considering picking this up.

[2017-10-24 08:48] sclarke81 commented on #69
@GuillaumeSalles would you be happy to move this project to an organisation now? It's looking more likely that I'm going to make use of Redux.NET. I'd be keen to start addressing some of the pull requests and planning the future of the library.

Is anyone else up for joining in? @jackjwilliams, @Vazerthon, @codepunkt?

[2017-10-24 11:19] sclarke81 commented on #36
I realise this is an old issue, but I have done exactly that in the [TodoMVC.NET](https://github.com/sclarke81/TodoMVC.NET) project. I really like it!

[2017-10-24 15:14] john-varga commented on #69
I've used this project at work and would like to use it more. I'm not sure what I can promise to be able to do but I am interested in helping wherever I can.

[2017-10-24 15:40] sclarke81 commented on #69
@ridespirals I'm in pretty much the same situation. With work and family life I'm pretty busy, but I'd like to do what I can to take this forward.

[2017-10-24 20:44] Vazerthon commented on #69
I've really only toyed with Redux.NET and I'm not actively working with it at the moment. That said, I'd be up for trying to help out on maintenance where I can. @sclarke81 are you hoping to take on ownership?

[2017-10-24 21:24] sclarke81 commented on #69
I'm easy going... I'd like to have input into the future as well as working on maintenance. From what @GuillaumeSalles has said it looks like he won't have the time to run the project. It'd be great if we could get a few interested/opinionated people together to guide the future. I'm up for helping to drive it, or to take more of a supporting role. My main aim would be to see the library progress.

[2017-11-30 19:24] jonathandbailey commented on #67
Unless it’s a throwaway prototype, you shouldn’t put any access to the Store into the code-behind.

MVVM allows you to write tests that interact with your ViewModel and simulate view interactions without the view by giving you a clear separation of UI from non-UI logic. Communicating with your Store in the code behind is therefore technically an MVVM violation because, without the view, you can’t

[2017-11-30 20:36] cmeeren commented on #67
I've moved to F# (not really relevant for this comment) and am using a solution I find very clean and easily testable, which allows for unidirectional data flow of most state while using MVVM/INotifyPropertyChanged for e.g. input field state (which doesn't work well with redux - dispatching every new value of text fields to the store has several problems, e.g. poor performance and chance of trigge

[2018-03-16 16:03] JordanMarr commented on #69
Does anyone have any recommendations for an alternative library that is actively maintained?
Or is everyone just rolling their own?

[2018-03-16 16:07] cmeeren commented on #69
Rolling my own (yes, I've moved back to using Redux, though in F#, which is a much better fit for the architecture). It's just 20-30 lines of code or so for what I need, so I don't really see the benefit of using a library.

[2018-03-16 16:21] JordanMarr commented on #69
I would love to be doing this with F# because it is such a natural fit.
https://thomasbandt.com/fsharp-redux-store-for-xamarin-apps

Unfortunately my current project is too far along for swapping out to an F# domain model.
My current design is very similar to what you mentioned: injecting a singleton VM with shared state into other VMs to provide a single source of truth where necessary.

Maybe I

[2018-05-30 13:08] ahmad2smile commented on #40
A bit late to the party But I think simple method overloading can clean up the if-else mess in reducers rather than Dynamic Polymorphism which would add more fuel to fire of redux boilerplate issue.

[2018-05-30 16:32] hoangdovan opened #72 "Is this Dead project & no longer being maintenance?"
It's too long, there is no more new information...

[2018-05-30 23:05] john-varga commented on #72
yes, the official owner of the project has stated he has no time or interest in maintaining the project anymore. a few people have expressed minor interest in taking over the project, if you would be willing to participate in that you are welcome to comment on the other issue: #69

luckily redux is simple enough that it doesn't actually require a ton of maintenance, this library works perfectly fo

[2018-05-31 06:30] ahmad2smile opened #73 "Could not link assemblies"
I've added the Native Xamarin MacOS project in my Xamarin Forms project which was setup on VS for Windows with .Net Standard 2.0 and linked it. It works fine on other platforms. I'm getting following error:

``
error MM2001: Could not link assemblies. Reason: Error processing method: 'System.Void Redux.Store`1::.ctor(Redux.Reducer`1<TState>,TState,Redux.Middleware`1<TState>[])' in assembly: 'Redux

[2018-06-01 12:12] ahmad2smile commented on #73
Just fixed it. It wasn't related to Redux.NET just my bad. For future ref you need to add `System.Reactive.Core` and `System.Reactive.Linq` (depending upon your use) in Mac project manually in  addition to `System.Reactive`.

The error of missing libraries isn't clear on VS for Mac. I added WPF app which was much clearer regarding these issues.

[2018-06-01 12:12] #73 closed, assigned to nobody

[2018-06-02 02:07] hoangdovan commented on #72
OK. I see. Thanks!

[2018-06-02 02:07] #72 closed, assigned to nobody

[2018-06-03 21:00] ahmad2smile commented on #47
I'm coming from React Native to Xamarin and bit new to .Net . I see in the current version store accepts a middleware[] but its not documented. If you @cmeeren  can provide a basic example of setting up the a saga with this middleware for a newbie that be much appreciated.

[2018-06-03 21:05] cmeeren commented on #47
@ahmad2smile I haven't used Redux.NET in at least a year (I'm rolling my own simple Redux store in F#). Perhaps someone else can help you?

[2018-06-03 21:47] ahmad2smile commented on #47
Ok, I'm trying with reading bit of a source code and some example of middlewares you provided here. Maybe I'll just get it done. Thanks anyways for you response.

[2018-09-21 02:16] PostImpatica commented on #69
I have an example for Xamarin using .Net Standard 2.0.  You can find it [here](https://github.com/helzgate/XamRedux).

[2018-10-24 03:40] JoseFMP commented on #69
Any news? I am willing to contribute.
@helzgate your contribution is great but why not to provide a wide .NET solution instead of Xamarin only?

[2018-10-26 23:15] lyquocnam opened #74 "The call is ambiguous between the following methods or properties: 'System.ObservableExtensions.Subscribe<T>(System.IObservable<T>, System.Action<T>)' and 'System.ObservableExtensions.Subscribe<T>(System.IObservable<T>, System.Action<T>)'"
The error in Windows Form, Netframework 4.7.2
[code]

[2018-12-28 09:37] hoangdovan commented on #74
@lyquocnam This is dead project. You should not use it anymore!

[2018-12-28 09:47] hoangdovan commented on #71
@AliCharper Yes, this is dead project and you should not use it anymore. @Vazerthon is right, Redux is quite simple. I also created my own version to use for my projects.

[2019-07-01 19:41] tseemann-dk commented on #51
@GuillaumeSalles Is the Redux.Net project still active?

[2020-01-10 14:40] JeroMiya commented on #51
I also rolled my own for a work project. I also used an Rx Extensions focused design, with some built-in functionality inspired by the redux-observable project in JS land. It didn't have support for middleware though, which would have been better than my built-in redux-observable design, but it was just a small library to get going. I also wrote some helper methods to make binding UI to Redux stat

[2021-05-31 19:08] jfacoustic opened #75 "Nuget Package should be marked deprecated."